@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

html,
body {
	background: #ccc;
	font-family: Quicksand, Arial, Verdana, sans-serif;
	font-size: 2vmin;
	color: #444;
}

a:hover,
a:focus {
	text-decoration: none;
}

main {
	width: 55vmin;
	height: 80vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background: #d8b453;
}

h2 {
	font-size: 1.25rem;
	height: 5vmin;
	line-height: 5vmin;
	margin: 0;
	text-align: center;
	position: relative;
}

main section,
main header {
	overflow: hidden;
	height: 7.5vmin;
	position: relative;
	box-sizing: border-box;
	transition: height 0.5s;
}

main header::after,
main > div > section::after {
	content: '';
	position: absolute;
	height: 2.5vmin;
	width: 55vmin;
	bottom: 0px;
	left: 0;
	background: linear-gradient(to top right, #ccc 49%, #d8b453 50%);
}

.background {
	display: none;
}

main header {
	box-shadow: inset 0 0 0 100vmin rgba(0, 0, 0, 0.75);
	color: #eee;
}

main header:nth-child(1) {
	background: url(https://alvaromontoro.com/images/yo.jpg) #336699 top center
		no-repeat;
	background-size: cover;
}

main header::after {
	background: linear-gradient(to top right, #d8b453 49%, rgba(0, 0, 0, 0) 50%);
}

main > div:first-child > section:nth-child(2)::after {
	background: linear-gradient(to top right, #336699 49%, #d8b453 50%) #d8b453;
}

main > div:nth-child(2) > section:nth-child(2) {
	background: #336699;
	color: #ddeeff;
}

main > div:nth-child(2) > section:nth-child(2)::after {
	background: linear-gradient(to top right, #3caea3 49%, #336699 50%);
}

main > div:nth-child(2) > section:nth-child(3) {
	background: #3caea3;
}

main > div:nth-child(2) > section:nth-child(3)::after {
	background: linear-gradient(to top right, #ed553b 49%, #3caea3 50%);
}

main > div:nth-child(2) > section:nth-child(4) {
	background: #ed553b;
}

main > div:nth-child(2) > section:nth-child(4)::after {
	background: linear-gradient(to top right, #173f5f 49%, #ed553b 50%);
}

main > div:nth-child(2) > section:nth-child(5) {
	background: #173f5f;
	color: #99bbdd;
}

main > div:nth-child(2) > section:nth-child(5)::after {
	background: linear-gradient(to top right, #cccccc 49%, #173f5f 50%);
}

h1 {
	text-align: center;
	color: #eee;
	transition: 0.5s;
}

header #objective {
	padding: 1.5rem;
	text-align: justify;
}

#contact-mini a {
	display: block;
	text-align: center;
	color: #fff;
}

input {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

h1 label,
h2 label,
h3 label {
	cursor: pointer;
}

#section-0:not(:checked) ~ main h1 {
	margin-top: 0;
}

#section-0:checked ~ main header {
	height: 42.5vmin;
}

#section-1:checked ~ main > div:nth-child(1) > section:nth-child(2) {
	height: 42.5vmin;
}

#section-2:checked ~ main > div:nth-child(2) > section:nth-child(2) {
	height: 42.5vmin;
}

#section-3:checked ~ main > div:nth-child(2) > section:nth-child(3) {
	height: 42.5vmin;
}

#section-4:checked ~ main > div:nth-child(2) > section:nth-child(4) {
	height: 42.5vmin;
}

#section-5:checked ~ main > div:nth-child(2) > section:nth-child(5) {
	height: 42.5vmin;
}

h3 {
	text-align: center;
}

.dept {
	display: none;
}

main > div:nth-child(1) > section:nth-child(2) ul {
	font-size: 0.9em;
}

main > div:nth-child(1) > section:nth-child(2) h2 {
	width: 55vmin;
}

main > div:nth-child(1) > section:nth-child(2) section h3,
main > div:nth-child(1) > section:nth-child(2) section h4,
main > div:nth-child(1) > section:nth-child(2) section h4 span {
	margin: 0;
	text-align: center;
	display: block;
}

main > div:nth-child(1) > section:nth-child(2) section {
	width: 55vmin;
	height: 33vmin;
	box-sizing: border-box;
	padding: 0 1.5rem;
	float: left;
}

#experience-container {
	width: 400%;
	overflow: hidden;
	position: absolute;
	transition: left 0.5s;
	left: 0;
}

main > div:nth-child(2) > section > ul {
	padding-left: 5vmin;
}

main > div:nth-child(2) > section:nth-child(n + 3) > ul > li:nth-child(n + 2) {
	margin-top: 1rem;
}

main > div:nth-child(2) > section > ul > li a {
	color: white;
}
main > div:nth-child(2) > section > ul > li a:hover {
	text-decoration: none;
}

#edu-certs {
	color: #1b3d15;
}

#volunteering {
	color: #410f28;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	overflow: hidden;
	font-size: 3rem;
	transition: all 0.5s;
	cursor: pointer;
}

.prev {
	right: auto;
	left: 0.5rem;
}

.prev span,
.next span {
	position: absolute;
	top: -100000px;
	left: -10000px;
}

.prev:hover,
.next:hover {
	color: #000;
	text-shadow: 0 -1px #fff, 1px -1px #fff, 1px 0 #fff, 1px 1px #fff, 0 1px #fff,
		-1px 1px #fff, -1px 0 #fff, -1px -1px #fff, 0 0 2px #fff;
}

#work-0:checked ~ main #experience-container {
	left: 0;
}

main #experience-container section,
main #languages,
main #edu-certs > ul,
main #volunteering > ul,
main #additional-links > ul {
	opacity: 0;
	margin-top: 3rem;
	transition: all 0.75s;
	transition-delay: 0.25s;
}

#section-1:checked ~ main #experience-container section,
#section-2:checked ~ main #languages,
#section-3:checked ~ main #edu-certs > ul,
#section-4:checked ~ main #volunteering > ul,
#section-5:checked ~ main #additional-links > ul {
	opacity: 1;
	margin-top: 0;
}

#work-1:checked ~ main #experience-container {
	left: -55vmin;
}

#work-2:checked ~ main #experience-container {
	left: -110vmin;
}

#work-3:checked ~ main #experience-container {
	left: -165vmin;
}

#languages {
	column-count: 2;
	font-size: 1.25rem;
	list-style: none;
}

.educert > li > span,
#volunteering > ul > li > span {
	font-size: 1.25rem;
	color: #000;
}

@media (orientation: portrait) and (max-width: 500px) {
	html,
	body {
		font-size: 2.8vmin;
	}

	main {
		width: 80vmin;
		height: 115vmin;
	}

	main header::after,
	main > div > section::after {
		width: 80vmin;
	}

	#section-0:checked ~ main header {
		height: 77.5vmin;
	}

	#section-1:checked ~ main > div:nth-child(1) > section:nth-child(2) {
		height: 77.5vmin;
	}

	#section-2:checked ~ main > div:nth-child(2) > section:nth-child(2) {
		height: 77.5vmin;
	}

	#section-3:checked ~ main > div:nth-child(2) > section:nth-child(3) {
		height: 77.5vmin;
	}

	#section-4:checked ~ main > div:nth-child(2) > section:nth-child(4) {
		height: 77.5vmin;
	}

	#section-5:checked ~ main > div:nth-child(2) > section:nth-child(5) {
		height: 77.5vmin;
	}

	main > div:nth-child(2) > section > ul {
		padding-left: 10vmin;
	}

	main > div:nth-child(1) > section:nth-child(2) section {
		width: 80vmin;
		height: 60vmin;
		padding: 7.5vmin;
	}

	#work-0:checked ~ main #experience-container {
		left: 0;
	}

	#work-1:checked ~ main #experience-container {
		left: -80vmin;
	}

	#work-2:checked ~ main #experience-container {
		left: -160vmin;
	}

	#work-3:checked ~ main #experience-container {
		left: -240vmin;
	}

	main > div:nth-child(1) > section:nth-child(2) h2 {
		width: 80vmin;
	}
}
